<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    
    <title>{{ title }}</title>
</head>
<body>
    {{> navbar}}
    <main class="container main-wrap">
    <h1>Войти</h1>
    <form method="post" action="/login">
        <div class="form-group">
            <label for="firsname">Firstname</label>
            <input type="text" class="form-control" id="firsname" aria-describedby="emailHelp" placeholder="Enter Firsname" name="firstname">
        </div>
        <div class="form-group">
            <label for="secondname">Secondname</label>
            <input type="text" class="form-control" id="secondname" placeholder="Enter Secondname" name="secondname">
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <span>{{message}}</span>
    </form>
    </main>