<body>
    {{> navbar}}
<main class="container main-wrap">
    <h1>Личный кабинет</h1>
    <p>Добро пожаловать {{firstname}} {{secondname}}</p>
    <p>Ваша роль: {{ role }}</p>

</main><!-- /.container -->
</body>