.main-wrap {
    max-width: 500px;
    margin-top: 200px;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}

.aut-wrap {
    display: flex;
    justify-content: center;
}